@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Special+Elite&display=swap');

/* color scheme */
    :root {
        --background-color: #F2EAD7;
        --text-color: #4E3C35;
        --text-color-light: #966C6C;
        --primary-color: #2CC2C7;
        --secondary-color: #ABFFEA;
        --accent-color: #FF8665;
        --grid-color: #F9B99F;
    }

/* Reset some default browser styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        scroll-behavior: smooth;
    }

    body {
        font-family: "Epunda Slab", serif;
        line-height: 1.6;
        font-size: 1.2rem;
        background: var(--background-color);
        color: var(--text-color);
    }

    header, footer {
        background: var(--primary-color);
        color: var(--secondary-color);
        padding: 3rem;
        text-align: center;

        box-shadow: 0px 0px 20px -5px var(--text-color-light);
    }

    nav {
        padding: 0.5rem;
        justify-content: right;
    }

    nav ul {
        list-style: none;
    }

    nav a {
        color: var(--secondary-color);
        font-weight: 600;
        text-decoration: none;
    }

    main {
        gap: 1rem;
        max-width: 1024px;
        margin: auto;
        margin-bottom: 10em;
        padding: 1rem;
    }

    h1, h2, h3 {
        font-family: "Special Elite", system-ui;
        margin-bottom: 0.5rem;
        font-weight: 400;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.25rem;
    }

    a {
        color: var(--secondary-color);
    }

    img {
        object-fit: cover;
    }

/* my stuff */
    .box-padding {
        padding: 2rem;
        flex-grow: 1;
    }

    .inner-shadow-overlay {
        position: relative;
    }

    .inner-shadow-overlay::after {
        box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }

/* grid background */
    body {
        background-attachment: fixed;
        background-size: 40px 40px;
        background-image:
            linear-gradient(to right, var(--grid-color) 2px, transparent 1px),
            linear-gradient(to bottom, var(--grid-color) 2px, transparent 1px);
    }

/* color classes */
    .bkg-primary {
        background: var(--primary-color);
        color: var(--text-color);
    }

    .bkg-secondary {
        background: var(--secondary-color);
        color: var(--text-color-light);
    }

    .bkg-accent {
        background: var(--accent-color);
        color: var(--text-color);
    }

    .bkg-semi-dark {
        background: var(--text-color-light);
        color: var(--background-color);
    }

    .bkg-dark {
        background: var(--text-color);
        color: var(--background-color);
    }

/* grid styles */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .grid-container a {
        text-decoration: none;
    }

    .grid-content, .grid-full, .grid-three-quarters, .grid-half, .grid-quarter {
        padding: 0rem;
        border-radius: 24px;
        overflow: hidden;

        display: flex;
        align-items: top;
        justify-content: space-between;
    }

    .grid-heading {
        text-align: center;
        grid-column: auto / span 4;
    }
    

    .grid-full {
        grid-column: auto / span 4;
    }

    .grid-three-quarters {
        grid-column: auto / span 3;
    }

    .grid-half {
        grid-column: auto / span 2;
    }

    .grid-quarter {
        grid-column: auto / span 1;
    }

/* logo */
    .logo {
        width: 128px;
        height: auto;
    }

    .logo-name {
        height: auto;
        max-width: 800px;
    }

    .logo-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;

        height: 100vh;
    }

/* header override */
    header, .footer-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav ul {
        text-align: right;
    }

    footer nav ul {
        text-align: left;
    }

    footer p {
        margin-top: 1rem;
        font-size: 0.9rem;
    }

/* nice animations */
    nav a {
        transition: all 0.5s ease-in-out;
    }

    nav a:hover {
        font-size: 1.4rem;
    }

    .grid-container a {
        transition: all 0.3s ease-in-out;
    }

    .grid-container a:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px -5px var(--text-color-light);
    }

/* responsive design */
@media screen and (max-width: 900px) {
        header {
            flex-direction: column;
            gap: 1rem;
        }

        header nav ul {
            display: flex;
            text-align: space-around;
            gap: 3rem;
        }

        h1 {
            font-size: 3.5rem;
        }

        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 2rem;
        }

        h4{
            font-size: 1.25rem;
        }

        .footer-top {
            flex-direction: column;
            gap: 1rem;
        }

        .footer-top nav {
            display: none;
        }

        .logo-main {
            height: 80vh;
            margin: 2rem;
        }

        .logo-name {
            width: 600px;
            height: auto;
        }
    
}
@media screen and (max-width: 600px) {
        header, footer {
            padding: 1rem;
        }

        header, .footer-top {
            flex-direction: column;
            gap: 1rem;
        }

        .mobile-no-display {
            display: none;
        }

        .logo-main {
            height: 50vh;
            margin: 2rem;
        }

        .logo-name {
            width: 350px;
            height: auto;
        }

        .grid-container {
            grid-template-columns: repeat(4, 1fr);
        }

        .grid-content, .grid-full, .grid-three-quarters, .grid-half, .grid-quarter {
            flex-direction: column;
        }

        .column-override {
            flex-direction: initial;
        }

        .column-img {
            width: 100%;
            height: auto;
        }

        .grid-full {
            grid-column: auto / span 4;
        }

        .grid-three-quarters {
            grid-column: auto / span 4;
        }

        .grid-half {
            grid-column: auto / span 4;
        }

        .grid-quarter {
            grid-column: auto / span 2;
        }

        .grid-full-override {
            grid-column: auto / span 4;
        }
}